/* thanks to https://piccalil.li/blog/a-modern-css-reset/  */

/* =================
CSS Resets
================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove arrows from number type input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =================
General styles
================= */

body {
  font-family: "Smythe", cursive;
  line-height: 1.5;
  background-color: #999;
}

button {
  background: transparent;
  cursor: pointer;
  font-family: Verdana, sans-serif;
}

/* =================
Typography
================= */
h1,
h4 {
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
}

/* =================
Layout
================= */

.container {
  max-width: 37.5rem;
  background-color: #fff;
  padding-inline: 1rem;
  margin: 0 auto;
}

.header {
  color: #fff;
  padding-block: 3rem;
  background: url("./images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title {
  font-size: 2.4rem;
}

.header-text {
  font-size: 1.4rem;
}

.menu {
  padding-top: 4.1875rem;
}

.menu-item {
  display: flex;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1.2rem;
  margin-bottom: 1rem;
}

.item-img {
  font-size: 4rem;
  text-align: center;
  width: 7rem;
}

.item-details {
  flex-grow: 1;
}

.item-desc {
  color: #8b8b8b;
}

.item-price,
.order-item-total,
.total-price {
  font-size: 1.25rem;
}

.add-to-cart {
  font-size: 1.5rem;
  color: #3c3c3c;
  border: 1px solid #dedede;
  border-radius: 50%;
  padding: 0.75rem 0.85rem;
  float: right;
}

.order {
  text-align: center;
  min-height: 26rem;
}

.order-items {
  padding-block: 1.875rem;
  border-bottom: 2px solid #393333;
}

.order-item-details,
.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-item-detail {
  display: flex;
  gap: 0.75rem;
}

.orders {
  font-family: Verdana, sans-serif;
  font-size: 0.85rem;
  padding: 0.2em 0.5em;
  background-color: #8b8b8b;
  place-self: center;
  border-radius: 50%;
}

.remove-item-btn {
  border: none;
  font-size: 0.75rem;
  color: #bbbbbb;
}

.order,
.order-total {
  padding-bottom: 3.3125rem;
}

.order {
  margin-bottom: 1em;
}

.pay-btn,
.purchase-btn {
  width: 100%;
  color: #fff;
  padding-block: 1.125rem;
  background: #16db99;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #16db99;
  border-radius: 3px;
}

/* Checkout payment modal */
.checkout {
  display: none;
  max-width: 32.75rem;
  text-align: center;
  font-family: Verdana, sans-serif;
  border-radius: 5px;
  box-shadow: 5.2px 5.2px 255.5px 0px #00000080;
  background-color: #fff;
  padding-inline: 1.5rem;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.checkout h4 {
  font-weight: 700;
  padding-block: 2.85rem;
}

.checkout input {
  display: block;
  width: 100%;
  padding: 1rem 1.7rem;
  margin-bottom: 1.45rem;
  border: 1px solid #757575;
  border-radius: 5px;
}

.checkout input,
.pay-btn {
  font-size: 1.25rem;
}

.pay-btn {
  font-weight: 700;
  margin-top: 1.55rem;
}

.thanks {
  font-size: 2rem;
  color: #065F46;
  background: #ecfdf5;
  padding-block: 3.25rem;
  margin-top: 2.75rem;
  border-radius: 5px;
}
